@import "../../responsive.scss";
.layout {
    height: 100vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    @include lg {
        background-color: rgb(250, 250, 211);
        max-width: 1200px;
    }
    @include md {
        background-color: rgb(180, 180, 231);
        max-width: 768px;
    }
    @include sm {
        background-color: rgb(241, 208, 208);
        max-width: 640px;
    }
    .content {
        flex: 1;
    }
}